<div class="container">
  <form [formGroup]="weatherTrackerForm" (ngSubmit)="onSubmit()">
    <div class="field">
      <label class="label">Location</label>
      <div class="control">
        <input
          class="input"
          type="text"
          placeholder="Post Code"
          formControlName="location"
        />
        @if (locationControl.invalid && (locationControl.dirty || locationControl.touched)) {
          <span class="help is-danger">Location is <strong>required</strong></span>
        }
      </div>
      <label class="label">Historical Weather</label>
      <div class="control">
        <select class="input" formControlName="days" (blur)="daysControl.markAsTouched()">
          @for (day of days; track day) {
            <option [value]="day">{{ day }}</option>
          }
        </select>
        @if (daysControl.invalid && (daysControl.dirty || daysControl.touched)) {
          <span class="help is-danger">Days is <strong>required</strong></span>
        }
      </div>
    </div>
    <div class="control">
      <button class="button is-primary" type="submit" [disabled]="weatherTrackerForm.invalid">Search</button>
    </div>
  </form>
</div>
