<div class="container">
  <form [formGroup]="weatherTrackerForm" (ngSubmit)="onSubmit()">
    <div class="field">
      <label class="label">Location</label>
      <div class="control">
        <input
          class="input"
          type="text"
          placeholder="Post Code"
          formControlName="location"
        />
        @if (weatherTrackerForm.controls["location"].hasError("required")) {
          <span class="help is-danger">Location is <strong>required</strong></span>
        }
      </div>
      <label class="label">Historical Weather</label>
      <div class="control">
        <select class="input" formControlName="days">
          @for (day of days; track day) {
            <option [value]="day">{{ day }}</option>
          }
        </select>
        @if (weatherTrackerForm.controls["days"].hasError("required")) {
          <span class="help is-danger">Days is <strong>required</strong></span>
        }
      </div>
    </div>
    <div class="control">
      <button class="button is-primary" type="submit">Search</button>
    </div>
  </form>
</div>
