.back-btn-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  .back-btn {
    margin-top: 20px;
    margin-right: 20px
  }
}

.fish-stability-card {
  width: 671px !important;
  height: 283px !important;
  .fish-stability-header {
    justify-content: center;
  }
  .fish-content {
    display: flex;
    align-items: center;
    height: 50px;
    width: 300px;
    gap: 20px;
    img {
      height: 60px;
      width: 60px;
    }
  }
}
