<div class="view-container">
  <div class="back-btn-container">
    <button class="button button is-light back-btn" (click)="onBack()">
      <strong>Back</strong>
    </button>
  </div>
  <div class="container">
    @if (weatherTrackerService.currentWeatherData$ | async; as weatherData) {
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">{{ weatherData.data.location.name }}</p>
          <p class="card-header-title">
            {{ weatherData.data.location.region }}
          </p>
          <p class="card-header-title">
            {{ weatherData.data.location.country }}
          </p>
        </header>

        <div class="card-content">
          <div class="content">
            <h3><strong>Current Weather</strong></h3>
            <span></span>
            <p>
              Last Updated: {{ weatherData.data.currentWeather.lastUpdated }}
            </p>
            <p>
              Temperature Celsius: {{ weatherData.data.currentWeather.tempC }}
            </p>
            <p>Wind Speed Mph: {{ weatherData.data.currentWeather.windMph }}</p>
            <p>Rain (mm): {{ weatherData.data.currentWeather.precipMm }}</p>
            <p>Cloud Cover: {{ weatherData.data.currentWeather.cloudCover }}</p>
            <p>UV index: {{ weatherData.data.currentWeather.uv }}</p>
          </div>
        </div>
      </div>
    }
    @if (this.weatherTrackerService.fishStability()) {
      <div class="card fish-stability-card">
        <header class="card-header">
          <p class="card-header-title fish-stability-header">Fish Stability</p>
        </header>

        <div class="card-content">
          <div class="content">
            <p>
              {{ 'Pike - ' + this.weatherTrackerService.fishStability()?.pike }}
            </p>
            <p>
              {{ 'Perch - ' + this.weatherTrackerService.fishStability()?.perch }}
            </p>
            <p>
              {{ 'Trout - ' + this.weatherTrackerService.fishStability()?.trout }}
            </p>
            <p>
              {{ 'Bass - ' + this.weatherTrackerService.fishStability()?.bass }}
            </p>
          </div>
        </div>
      </div>
    }
    
  </div>

  <div class="container">
    @if (weatherTrackerService.historicalWeatherData$ | async; as weatherDataArray) {
      @for (weatherData of weatherDataArray; track weatherData.weatherId) {
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              Date: {{ weatherData.data.historicalWeather.date }}
            </p>
          </header>

          <div class="card-content">
            <div class="content">
              <h4><strong>Daily Averages</strong></h4>
              <p>
                Temperature Celsius:
                {{ weatherData.data.historicalWeather.tempC }}
              </p>
              <p>
                Wind Speed Mph:
                {{ weatherData.data.historicalWeather.midday.windMph }}
              </p>
              <p>
                Rain (mm):
                {{ weatherData.data.historicalWeather.totalPrecipMm }}
              </p>
              <p>UV index: {{ weatherData.data.historicalWeather.uv }}</p>
              <h4><strong>Midday</strong></h4>
              <p>
                Cloud coverage:
                {{ weatherData.data.historicalWeather.midday.cloudCover }}
              </p>
              <p>
                Wind Speed Mph:
                {{ weatherData.data.historicalWeather.midday.windMph }}
              </p>
              <p>
                Humidity:
                {{ weatherData.data.historicalWeather.midday.humidity }}
              </p>
            </div>
          </div>
        </div>
      }
    }
  </div>
</div>
