<div class="container">
    <form [formGroup]="locationForm" (ngSubmit)="onSubmit()">
        <div class="field">
            <label class="label">Location</label>
            <div class="control">
                <input class="input" type="text" placeholder="Post Code" formControlName="location">
                <p class="help is-danger" *ngIf="submitted && locationForm.controls['location'].hasError('required')">
                    Location is <strong>required</strong>
                </p>
            </div>
        </div>

        <div class="control">
            <button class="button is-primary" type="submit">Search</button>
        </div>
    </form>
    <button (click)="historicalWeather()">Yesterdays Weather</button>
</div>