<div class="container centered-content">
    <form [formGroup]="locationForm" (ngSubmit)="onSubmit()">
        <label>Location:</label>
        <mat-form-field>
            <input matInput placeholder="Post Code" formControlName="location">
            <mat-error *ngIf="submitted && locationForm.controls['location'].hasError('required')">
                Location is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Search</button>
    </form>
</div>