<div class="container">
  <ng-container *ngIf="weatherData$ | async as weatherData">
      <div class="card">
          <header class="card-header">
              <p class="card-header-title">{{ weatherData.data.location.name }}</p>
              <p class="card-header-title">{{ weatherData.data.location.region }}</p>
              <p class="card-header-title">{{ weatherData.data.location.country }}</p>
          </header>

          <div class="card-content">
              <div class="content">
                  <h3><strong>Current Weather</strong></h3>
                  <p>Last Updated: {{ weatherData.data.currentWeather.lastUpdated }}</p>
                  <p>Temperature Celsius: {{ weatherData.data.currentWeather.tempC }}</p>
                  <p>Temperature Fahrenheit: {{ weatherData.data.currentWeather.tempF }}</p>
                  <p>Wind Speed Mph: {{ weatherData.data.currentWeather.windMph }}</p>
                  <p>Wind Speed Kph: {{ weatherData.data.currentWeather.windKph }}</p>
              </div>
          </div>
      </div>
  </ng-container>
</div>